//output:index.html
doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // break
    title Luis Gaytan | Lead Dodo
    // break
    //- bootstrap
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous')
    //- text
    link(href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Josefin+Sans|Josefin+Slab|Oxygen:300" rel="stylesheet")
    
    link(rel='stylesheet' href='./styles/styles.min.css')

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css")
    // break
  body
    .container-fluid#main-container
      .container-fluid#hero-section
        #video
          video(autoplay loop poster='./Coding.jpg' id='bgvid')
            source(src='./assets/videos/Coding.webm')
            source(src='./assets/videos/Coding.mp4')
            source(src='./assets/videos/Coding.ogv')
          .wrapper
            .row#header-rows
              .top-links
                .col-xs-12.col-sm-3.col-md-3.col-lg-3#logo-sect
                  p.pull-left.text-center#logo
                    img(src='./assets/images/dodo.png' alt='Techie Dodo')
                    br
                    | Techie 
                    br
                    | Dodo
                .col-xs-12.col-sm-9.col-md-9.col-lg-9.pull-right#social-media
                  a(href='https://github.com/techiedodo' class='pull-right'): img(src='./assets/images/Github.png')
                  //- a(href='#'): img(src='./assets/images/Facebook.png')
                  a(href='https://mobile.twitter.com/TechieDodo' class='pull-right Twitter'): img(src='./assets/images/Twitter.png')
                  a(href='https://medium.com/@luisgaytan' class='pull-right'): img(src='./assets/images/Medium.png')
                  a(href='https://www.linkedin.com/in/luisgaytan' class='pull-right'): img(src='./assets/images/LinkedIn.png')
            .row.hero-content
              .col-sm-12.col-md-7.col-lg-7
                h1 I create and build digital products people will enjoy using.
                hr
                h2 
                  | Learn from the Dodo. Be adaptable. I can show you how. 
                  em Let's Talk
                  a(href='#contact')
                    i.fa.fa-arrow-circle-right(aria-hidden='true')

      .container-fluid#content-container
        .row.top-row.wrapper
          .col-sm-12.col-md-4.tile#spotlight
            .primary-content
              h2.text-uppercase Project Spotlight
              img.align-center.image-padding.img-responsive(src='./assets/images/Gametree.png' id='gametree')
              h4.text-uppercase.title-padding Gametree.me &mdash; Discover Your Tribe
              p.text-justify Gametree.me is a social network offering amazingly personal recommendations for games, friends, news, and events. 
            .secondary-content
              h3 A Gamer Network for the Masses
              p.text-justify We used Meteor.js to create this innovative application. We integrated some of the latest frameworks and platforms to bring this social gaming network to life.
              .row
                .col-xs-3.col-sm-3.col-md-3
                  i.devicon-meteor-plain.colored.dev-icon
                .col-xs-3.col-sm-3.col-md-3
                  i.devicon-sass-original.colored.dev-icon
                .col-xs-3.col-sm-3.col-md-3
                  i.devicon-coffeescript-original-wordmark.colored.dev-icon
                .col-xs-3.col-sm-3.col-md-3
                  i.devicon-html5-plain-wordmark.dev-icon
              br 
              p 
                | Learn more &mdash; find your tribe. 
                a(href="http://gametree.me")
                  i.fa.fa-arrow-circle-right.fa-lg(aria-hidden='true')
          .col-sm-6.col-md-3.tile#projects
            .row
              h2.text-uppercase Projects
              .vp-notes.col-md-4
                img.align-center.image-padding.img-responsive(src='./assets/images/VP-Notes.jpg')
                p Note taking application designed to expedite note writing and verification for Valley Prep Tutoring.
              .ACT-site.col-md-4
                img.align-center.image-padding.img-responsive(src='./assets/images/ACT-Website.jpg')
                p American Crew Transportation website redesign with a focus on mobile optimization.
              .vp-notes.col-md-4
                img.align-center.image-padding.img-responsive(src='./assets/images/VP-Notes.jpg')
                p Note taking application designed to expedite note writing and verification for Valley Prep Tutoring.
          .col-sm-6.col-md-5.tile#study
            h2.text-uppercase Case Study
            p.text-justify Summary
              br
              | Dr. Mishra was looking to give his business website a face lift. The current website was created in 2011 and contains a large amount of content. The overall feel of the current website was dated and and not mobile responsive.
              img.dental-site.align-center.image-padding.img-responsive(src='./assets/images/dental-image.jpg')
              a.show_hide(href='#')
                i.fa.fa-chevron-down.fa-2x.align-center(aria-hidden='true')
        .row#study-section
          .wrapper
            .col-sm-12.col-md-12.text-justify
              h3.main-title Case Study Overview
              .row
                .col-sm-6.col-md-4.study-sections#challenge
                  h4.secondary-title The Challenge
                  p 
                   | The decision to update the website was clear. The challenge came when looking at the overall design. Looking at competitor site, we needed to make sure that the new design was modern, but not too overpowering.
                   img.align-center.image-padding.img-responsive#partial-img(src='./assets/images/partial-dental-site.jpg')
                .col-sm-6.col-md-4.study-sections#solution
                  h4.secondary-title The Solution
                  p 
                    | The new design for the website was changed to be a single page site. The decision was made in order to provide something succinct and appealing to new customer as well as current ones. Mobile responsiveness was also a priority. 
                    img.align-center.image-padding.img-responsive(src='./assets/images/Dental-Hero-Section.jpg')
                .col-sm-12.col-md-4.study-sections#result
                  h4.secondary-title The Result
                  p 
                    | A new feature was added that allowed new patients to complete forms online. The goal of having this feature was to expedite the processing of patients thereby decreasing the idle time at the office. This single page layout also put the contact form front and center making it easier to locate. The responsive design also translated to a better user experience when viewing the site on a mobile device.
                    img.align-center.image-padding.img-responsive(src='./assets/images/Dental-Contact-Section.jpg')
        .row#services
          .wrapper
            .col-sm-12.col-md-12.tile
              h2.main-title Helping you Soar
              .col-md-4.services-section
                p(class='text-justify lead')
                  img(src='./assets/images/Full-Stack.png' class='service-imgs')
                  span(class='lead-word') Fullstack 
                  br
                  | &mdash; As a fullstack developer, I have the toolset to help you create something customized and unique for your business.
                  
              .col-md-4.services-section
                p(class='text-justify lead')
                  img(src='./assets/images/Develop.png' class='service-imgs')
                  span(class='lead-word') Develop
                  br 
                  | &mdash; Whether you are looking to give your website a small facelift, a total gut job, or are looking to develop a new web application, I am here to help you bring your idea into fruition.
                  
              .col-md-4.services-section
                p(class='text-justify lead')
                  img(src='./assets/images/Rocket.png' class='service-imgs')
                  span(class='lead-word') Launch
                  br 
                  | &mdash; Once your website/app has been developed and coded, I will ensure that your project is lauched and implemented properly.
                  
        .row
          .wrapper
            .end-content
              .col-sm-6.col-md-6
                h1(class='title text-center' id='About') 
                  | About 
                  br
                  | Me
                span(id='hello') Hello.
                p(class='text-justify') 
                  | My name is Luis Gaytan. I am a fullstack web developer currently based in Southern California. I take pride in developing innovative and highly functional products that will solve your techinal needs.
                  br
                  br 
                  | I will help you revamp your current product or help you create something completely new. With all of the emerging technologies, it is always wise to adapt and become a Techie Dodo.
                  br
                  br 
                  | I look forward to bringing your next project to life. 
              .col-sm-6.col-md-6
                a(name='contact')
                h1(class='title text-center' id='contact') 
                  | Contact
                  br
                  | Me
                h3 Let's work together to make a unique product. What's your idea?
                form#contactForm(method='POST')
                  .form-group
                    //- label(for='nameInputLabel') What's your name?
                    input.form-control(type='text', name='name', placeholder='Your Name')
                  .form-group
                    //- label(for='emailInputLabel') Electronic-Mail
                    input.form-control(type='email', name='_replyto', placeholder='Your E-mail')
                  .form-group
                    textarea.form-control(name='message', placeholder='How can I help you?', rows='3')
                  input(type='text', name='_gotcha', style='display:none')
                  .form-group
                    button#sendMessage.btn.btn-default(type='submit') Submit
      footer
        p(class='text-right') Adapt. Become a Techie Dodo | &copy; 2016 
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
  script(src="./scripts/main.js")
